.textoverflow{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.f_40{
    font-size: 40px;
}

.whitebackground{
    background: white;
    background:url(http://baanthai.costcokart.com/assets/images/woodback.jpg);
}
.sidebar .nav>li>a {
    padding: 8px 20px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
}

.sidebar .nav>li.nav-profile {
    padding: 20px;
    color: #fff;
    background: #0000004a;
}

.navbar.navbar-inverse {
     background: #2d353c; 
    background: url(http://baanthai.costcokart.com/assets/images/woodback.jpg);
}

.content {
    margin-left: 220px;
    padding: 20px 25px;
    background: url(https://baanthai.costcokart.com/assets/images/slider/3.jpg);
    background-size: cover;
}

.timeline .timeline-time .time {
    line-height: 28px;
    font-size: 24px;
    color: #ffffff;
}

.panel-title {
    line-height: 20px;
    font-size: 20px;
}